.page-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex-grow: 1;
  flex-shrink: 0;
}

.nav-style, .footer-container{
  border: 0 !important;
  color: white !important;
  background-color: #024731 !important;
  width: 100% !important;
}

.nav-style .right.menu .item {
  color: white !important;
}

.nav-style {
  height: 55px;
}

.navlogocontainer {
  margin-left: 30px;
  margin-right: 14px;
}

.nav-style .navlogo {
  height: 35px;
  width: auto;
}

.navsearch {
  max-width: 45%;
  min-width: 200px;
  width: calc(100% - 550px);
}

.search-bar {
  width: 100% !important;
}

.sign {
  padding: 50px 0;
}

.sign-mod {
  background: #343434;
  width: 393px !important;
  padding: 40px 25px;
  border-radius: 0 !important;
  text-align: center;
}

.sign-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-seg {
  width: 580px;
  margin: auto;
  align-items: center;
}

.footer-container {
  height: 110px;
  align-items: center;
  justify-content: center;
  min-width: 360px;
}

.grey-theme {
  color: white;
  background: #343434 !important;
}

.white-theme {
  color: black;
  background-color: white;
}

.landing {
  color: #343434;
  background: url("https://i.ibb.co/2Wzhcc9/landing-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 165px);
  padding: 15px 0;
  position: relative;
}

.landing .ui.centered.container.stackable.grid, .landing .ui.grid .ui.header {
  height: inherit;
  align-items: center;
}

.landing .ui.grid .header {
  color: #080708;
}

@media only screen and (max-width: 767px) {
  .middle {
    order: 0;
  }

  .left {
    order: 1;
  }

  .right {
    order: 2;
  }
}

.hub {
  padding: 50px 0;
  display: flex;
  flex-basis: inherit;
  flex-direction: column;
}

.profile {
  padding: 20px 0;
  display: flex;
}

.find-roommate {
  padding: 20px 0;
}

.profile-change {
  padding: 20px;
}